//FONTS
@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

//COULEURS
$vert: #579c87;
$jaune: #fdcb46;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

header, footer, .main-section__prochainement{
    background-color: $vert;
    color: $jaune;
}
//HEADER
.heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1{
        color: $jaune;
        font-size: 2.8rem;
    }
}

//SECTION PRINCIPALE
.main-section{
    width: 100%;
    margin: 0 auto;
    padding: 40px 60px;
}
.main-section__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-item{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 540px;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 0 0 8px rgba(212, 211, 211, 0.781);
}

.menu-item__background{
    &:hover{
        cursor: pointer;
        animation: grossir .4s ease-in-out forwards;
    }
}

@keyframes grossir{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.3);
        opacity: 0.4;
    }
}

//gestion des couleurs et font des menu
//MENU 1
.background1{
    background-color: #fcdfdb;
}
.title__menu1, .menu1{
    color:#3d1319;
    font-family: 'Devonshire', cursive;
    font-size: 1.5rem;
}
.menu1{
    font-family: 'Merienda', cursive;
    text-transform: uppercase;
    margin-top: 10px;
}

//MENU 2
.background2{
    background-color: #fff5fe;

}
.title__menu2{
    background: -webkit-linear-gradient(left, #c77412, #c4a4f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;

}
.menu2{
    color:#c77412;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;

}

//MENU 3 
.background3{
    background-color: #EDEFEF;
    font-size: 1.5rem;
}
.title__menu3{
    background: -webkit-linear-gradient(left, #0227dc, #0887fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;
    padding: 5px;
}
.menu3{
    color:#0887fb;
    font-family: 'Merienda', cursive;
    margin-top: 10px;
}

//MENU 4
.background4{
    background-color: #fdfffd;

}
.title__menu4{
    background: -webkit-linear-gradient(left, #41953c, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Merienda', cursive;
    font-size: 1.4rem;
}
.menu4{
    color:#3D923A;
    font-family: 'Merienda', cursive;
    font-size: 1.5rem;
    margin-top: 10px;
}


//SECTION PROCHAINEMENT
.main-section__prochainement{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    h2{
        font-size: 1.3rem;
    }
}
.dot{
    font-size: 1.3rem;
    animation: typing 1.2s ease infinite;
    &:nth-child(2){
        animation-delay: 0.2s;
    }
    &:nth-child(3){
        animation-delay: 0.4s;
    }
    &:nth-child(4){
        animation-delay: 0.6s;
    }
}
@keyframes typing{
    0%, 100%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
}

//FOOTER
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    left: 0;
    bottom: 0;
    a{
        color: $jaune;
        font-size: 1.5rem;
    }
}

.mention, .contact{
    cursor: pointer;
    &:hover{
        animation: wiggle 0.1s ease-in-out infinite alternate;
    }
}

@keyframes wiggle{
    0%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(5deg);
    }
}

//CSS PAGES
.page__title{  
    text-align: center;
    margin-bottom: 20px;
}

.page__background{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.page__background-title{
    text-align: center;
    margin-bottom: 60px;
    h1{
        font-size: 2rem;
    }
}

.carte__box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    &-title{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    &-menu{
        width: 100%;
    }
    &-menu-content{
        display: flex;
        flex-wrap: wrap;;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

.carte__box-menu-content .price{
    font-weight: 600;
}

.left_svg, .right_svg{
    width: 30%;
}

.plat-title{
    position: relative;
    &.chic{
        font-size: 1.2rem;
    }
}

.plat-title::after{
    content: ' ';
    position: absolute;
    background-color: #3d1319;
    width: 100%;
    opacity: 0;
    height: 3px;
    left: 0;
    bottom: -3px;   
}

.plat-title:hover{
    cursor: pointer;
    &.plat-title::after{
        animation:slide .5s ease-in-out forwards;
    }
}

@keyframes slide{
    0%{
        transform: scaleX(0);
        transform-origin: left;
        opacity: 0;
    }
    100%{
        transform: scaleX(1);
        transform-origin: left;
        opacity: 1;
    }
}






//pour rendre les pages specifiques:
.note_bg{
    color:#3d1319;
    background-color: #fcdfdb;
}
.delice_bg{
    background-color: #EDEFEF;
}
.merienda{
    font-family: 'merienda';
}
.devonshire{
    font-family: 'Devonshire', cursive;
}
.dancing{
    font-family: 'Dancing Script', cursive;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
//MEDIA QUERIES RESPONSIVE
@media screen and (max-width:850px){
    .menu-item{
        width: 450px;
    }
}

@media screen and (max-width:550px){
    .carte__box-menu-content{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 20px;
        p{
            margin-bottom: 5px;
        }
    }

    .main-section{
        padding: 40px 20px;
    }

    .menu-item{
        width: 400px;
    }

    .main-section__prochainement{
        width: 100%;
    }

    .left_svg, .right_svg{
        width: 15%;
    }
    .page__background{
        padding: 20px;
    }
    .carte__box-title h2{
        font-size: 1.3rem;
    }
    .carte__box-menu-content p{
        font-size: .9rem;
    }
    
}

